@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=New+Amsterdam&display=swap');
/* Estilo padrão para dispositivos grandes */

body {
        font-family: Lato, sans-serif;
        background-color: rgb(244, 244, 244);
        color: rgb(51, 51, 51);
        margin: 0px;
        padding: 0px;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-family: 'Shrikhand';
    text-shadow: 2px 2px #333;
    font-weight: 100;
    
}
h1{
    font-size: 50px;
    letter-spacing: 2.5px;
}
h2{
    font-family: 'New Amsterdam';
    font-size: 30px;
    color: #333;
    letter-spacing: 3px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-bottom: 20px;
}
h3{
    font-weight: bold;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    background-color: #4CAF50; /* Cor inicial */
    color: white;
    text-decoration: none;
    padding: 10px 20px;



}
nav ul li a:hover{
    background-color: #006400; /* Cor verde escura ao passar o mouse */

}


section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 8px;
}
.responsive-img {
    width: 100%;
    height: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.comum-img {
    max-width: 100%; /* A imagem não excederá a largura do contêiner */
    height: auto;    /* A altura será ajustada automaticamente para manter a proporção */
    display: block;  /* Remove espaços em branco ao redor da imagem */
    margin: 0 auto;  /* Centraliza a imagem horizontalmente no contêiner */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}


footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
